.fifth_sec{
    width: 90%;
    margin-top: 90px;
    height: 1500px;
    position: absolute;
    left: 70px;
    background: #cfc1b8;
    background: linear-gradient(28deg, rgba(207, 193, 184, 1) 0%, rgba(230, 215, 211, 1) 48%, rgba(247, 247, 247, 1) 100%);
    border-radius: 2px;
    box-shadow: 5px 10px 30px;
}
.head_tag{
    text-align: center;
    font-family: sans-serif;
    font-size: 28px;
    word-spacing: 3px;
    width: 35%;
    height: 60px;
    margin-left: 410px;
    box-shadow: 5px 10px 30px rgb(63, 43, 43);
    border-radius: 7px;
    background-color: rgb(248, 231, 224);
    margin-top: 100px;
}
.fifth_sec .all_items{
    display: flex;
    width: 90%;
    height: 50%;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}
.all_items div{
    width: 70%;
    height: 90%;
    justify-content: space-between;
}
.all_items img{
    width: 90%;
    padding: 25px;
}